* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  min-width: 425px;
}
.juego {
  /* border: 3px dashed tomato; */

  background-color: white;
  border-radius: 5px;
  height: 85vh;

  margin: 3rem;
  width: auto;
}
.titulo {
  /* border: 3px dashed green; */
  grid-area: titulo;
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 1.8rem;
}
#palabra {
  /* border: 3px dashed blue; */
  /* grid-area: palabra; */
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.comprobacion {
  /* border: 3px dashed yellow; */
  /* grid-area: comprobacion; */
  display: flex;
  justify-content: center;
  padding: 1rem;
}
#inputLetra {
  /* border: 3px dashed violet; */
  height: 2rem;
  padding: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
}
#inputLetra:focus {
  border: 4px solid gold;
}

#inputLetras::placeholder {
  color: gold;
}
#idButton {
  /* border: 3px dashed lightseagreen; */
  padding: 0.2rem 0.8rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-left: 1rem;
  transition: background-color 0.5s;
}
#idButton:hover {
  background-color: gold;
}
#idButton:active {
  background-color: gray;
}

.errores {
  /* border: 3px dashed red; */
  font-size: 1rem;
  /* grid-area: resultado; */
  display: flex;
  justify-content: center;
  /* margin: 1rem; */
}

.imagenes {
  /* grid-area: ahorcado; */
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  max-width: 100%;
  height: auto;
}

img {
  width: 250px;
  /* border: 3px dashed pink; */
  padding: 1rem;
  visibility: hidden;
  display: flex;
  position: absolute;
  margin-top: -90px;
  max-width: 100%;
  height: auto;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: pointer;
}
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  font-weight: 800;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

#cuenta-atras {
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 50px;
  color: gold;
  font-weight: 800;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
